* {
  margin: 0;
  padding: 0;
}

/* 100% установлено, исходя из 16рх по умолчанию*/
html {
	font-size: 100%;
}

/*общее условие для всех экранов*/
@media (min-width: 320px) {

/*Подключение шрифтов*/
@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Regular.woff);
	font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Regular.woff2);
	font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Bold.woff);
	font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Bold.woff2);
	font-weight: 700;
    font-style: normal;
}

.pages {
	min-width: 320px;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
}

/*Шапка сайта*/
	.header {
    display: block;
	position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
    background-size: cover;
}

/* маска для изображения */
.header::before {
    content: "";
    opacity: 0.9;
    background-color: #091741;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Логотип*/
 .surface_logo_text {
    display: block;
	position: relative;
	z-index: 2;
    fill: #fff;
	margin-right: auto;
	margin-left: auto; 
 }

/*Контейнер для двух строчек заголовка*/
.title {
    position: relative;
    z-index: 2; 
}

h1 {
	font-family: OpenSans, Roboto, sans-serif;
    font-weight: 700; /*bold*/
    font-style: normal;
	color: #ffffff;
	text-transform: uppercase;
}

/*Ссылки - общий контейнер*/
.links {
	display: flex;
    position: relative;
	z-index: 3;
}

/*Стилизация ссылки App Store как кнопка*/
.link_header_app {
    display: flex;
	justify-content: center; /*отцентрировала по горизонтали*/
	align-items: center; /*отцентрировала по вертикали*/
	background-color: #5e42b0;
	text-decoration: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
/*Контейнер для текста ссылки App Store*/
.link_app {
	display: inline-block; /*для того, чтобы на одной линии были картинка и текст*/
	vertical-align: middle;
	text-transform: uppercase;
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    line-height: 1.5;
    color: #ffffff;
}

/*Части текста ссылки,т к разный шрифт - разделила на 2 части */
.link_text_one {
	text-align: left;
}

/*Части текста ссылки,т к разный шрифт - разделила на 2 части */
.link_text_two {
	text-align: left;
}

/*Иконка App Store*/
.apple_svg {
	vertical-align: middle;
	display: inline-block; /*для того, чтобы на одной линии были картинка и текст*/
	fill: #fff; /*чтобы менять цвет иконки- надо код svg прописать в HTML и там же убрать fill!*/
}

/*Стилизация ссылки Google Play как кнопка*/
.link_header_google {
	display: flex;
	justify-content: center; /*отцентрировала по горизонтали*/
	align-items: center; /*отцентрировала по вертикали*/
	background-color: #5e42b0;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*Контейнер для текста ссылки Google Play*/
.link_google {
	display: inline-block; /*для того, чтобы на одной линии были картинка и текст*/
	vertical-align: middle;
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    line-height: 1.5;
    text-transform: uppercase;
    align-self: center;
    color: #ffffff;
}

/*Контейнер для Иконки Google Play*/
.google_svg {
	display: inline-block; /*для того, чтобы на одной линии были картинка и текст*/
	vertical-align: middle;
	fill: #fff; /*чтобы менять цвет иконки- надо код svg прописать в HTML*/
}

	/*Заголовок секции Футбол - ATHLETS*/
.section_title_athlets {
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    font-weight: 700; /*Bold*/
    text-transform: uppercase; /*Заглавные буквы*/
    color: #e7e7e7;
   }

/*Цифра около заголовка CONNECTION, COLLABORATION*/
.numeral_athlets { 
    display: inline-block;
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    font-weight: 700; /*bold*/
    color: #000000;
    }

/*Цифра около заголовка GROWN - ATHLETE*/
.numeral_grown_athlete { 
	display: inline-block;
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    font-weight: 700; /*bold*/
    color: #000000;
}

/*Цифра около заголовка GROWN*/
.numeral_grown { 
    display: inline-block;
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    font-weight: 700; /*bold*/
    color: #8765dd;
}

/*Заголовок статьи CONNECTION, COLLABORATION, GROWTN*/
.article_title {
    display: inline-block;
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    font-weight: 700; /*bold*/
    text-transform: uppercase;
    color: #c1c1c1;
 }

/*Текст статьи*/
.article_text {
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    font-weight: 400; /*regular*/
}

.sport_basketball {
	display: flex;
	flex-direction: column;
 }

	/*Заголовок секции Баскетбол - PLAYERS*/
.section_title_players {
	font-family: OpenSans, Roboto, sans-serif;
	font-style: normal;
	font-weight: 700; /*Bold*/
	text-transform: uppercase; /*Заглавные буквы*/
	color: #e7e7e7;
}

 /*Заголовок статьи CONNECTION, COLLABORATION, GROWTN*/
.article_title_players {
	display: inline-block;
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    font-weight: 700; /*bold*/
    text-transform: uppercase;
    color: #c1c1c1;
	text-transform: uppercase;
 }

 /*Цифра около заголовка CONNECTION, COLLABORATION*/
 .numeral_players {
 	display: inline-block;
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
 }

/*Текст статьи*/
.article_text_players {
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    font-weight: 400; /*regular*/
 }

 /*Текст статьи*/
 .article_text_active {
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    font-weight: 400; /*regular*/
 }

 /*Текст статьи*/
 .article_text_contact {
	font-family: OpenSans, Roboto, sans-serif;
    font-style: normal;
    font-weight: 400; /*regular*/
 }

/*Цифра около заголовков Be_active, Find contact, Work it*/
.numeral {
   font-family: OpenSans, Roboto, sans-serif;
   font-style: normal;
   font-weight: 700; /*bold*/
   text-transform: uppercase;
   color: #ffffff;
}
 
 /*Заголовок статьи BE ACTIVE, WORK IT*/
 .article_title_active {
	 font-family: OpenSans, Roboto, sans-serif;
	 font-style: normal;
	 font-weight: 700; /*bold*/
	 text-transform: uppercase;
	 color: #c1c1c1;
  }

  /*Заголовок статьи FIND CONTACT*/
 .article_title_contact {
	font-family: OpenSans, Roboto, sans-serif;
	font-style: normal;
	font-weight: 700; /*bold*/
	text-transform: uppercase;
	color: #c1c1c1;
 }
 
  /*Контейнер ФИОЛЕТОВЫЙ КВАДРАТ или ПРЯМОУГОЛЬНИК для Цифры около заголовков Be_active, Work it*/
 .numeral_active {
	  display: flex;
	  background-color: #5e42b0;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
  }

  /*Контейнер ФИОЛЕТОВЫЙ КВАДРАТ или ПРЯМОУГОЛЬНИК для Цифры около заголовкa Find contact*/
 .numeral_contact {
	display: flex;
	background-color: #5e42b0;
	justify-content: center;
	align-items: center;
	position: absolute;
}
 
  /*Цифра около заголовков Be_active, Find contact, Work it*/
  .numeral {
	 font-family: OpenSans, Roboto, sans-serif;
	 font-style: normal;
	 font-weight: 700; /*bold*/
	 text-transform: uppercase;
	 color: #ffffff; 
  }
 
 /*Контейнер для футера */
	 .footer {
	 position: relative;
	 width: 100%;
	 background-repeat: no-repeat;
	 background-position: center center;
	 background-color: #000000;
	 background-size: cover;
 }
 
 /*Маска для футера*/
 .footer::before {
	 content: "";
	 position: absolute;
	 background-color: #091741;
	 opacity: 0.9;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
 }
 
 /*Логотип-стрелка для Футера*/
 .surface_logo {
	 display: block;
	 position: relative;
	 z-index: 3;
	 background-color: #53399f;
	 box-sizing: border-box;
	 fill: #ffffff;
 }
 
 /*1я часть заголовка Футера*/
 .footer_title_one {
	font-family: OpenSans, Roboto, sans-serif;
	font-style: normal;
	font-weight: 700; /*bold*/
	color: #ffffff;
	text-transform: uppercase;
 }
 
 /*2я часть заголовка Футера*/
 .footer_title_two {
	font-family: OpenSans, Roboto, sans-serif;
	font-style: normal;
	font-weight: 400; /*regular*/
	color: #ffffff;
	text-transform: uppercase;
 }
 
 /*Логотип - стрелка с текстом для Футера*/
 .surface_logo_text_footer {
	display: block;
	position: relative;
	z-index: 2;
	fill: #fff;
	margin-right: auto;
	margin-left: auto; 
}
}

/************************************************************************************************/

/*Mobile First */
/*Экраны до 640рх*/

@media (max-width: 640px) {
/*Шапка сайта*/
	.header {
	background-image: url(../images/football_767.jpg);
	}

/*Контейнер для двух строчек заголовка*/
.title {
	padding-bottom: 100px; /* нижний внутренний отступ между заголовоком и ссылками*/
} 

h1 {
	font-size: 1.75rem; /*шрифт28px-  28/16 */
}

/*Две части заголовка шапки*/
.header_title_left { /*h1*/
    padding-left: 7.5%; /*внутренний отступ слева*/
}

.header_title_right { /*span*/
	display: block;
	padding-left: 12.5%; /*внутренний отступ слева*/	
	}

	/*Логотип*/
 .surface_logo_text {
	height: 45px;
	width: 145px;
	margin-top: 50px; /*внешний оступ сверху от логотипа*/
	margin-bottom: 130px; /*внешний отступ снизу от логотипа*/
}

/*Ссылки - общий контейнер*/
.links {
	flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
} 

/*Стилизация ссылки App Store как кнопка*/
.link_header_app {	/*класс задала тегу а, чтобы вся кнопка была кликабельна*/
	border-radius: 30px;
	margin-bottom: 20px; /*внешний отступ между кнопками*/
    width: 85%; /*посчитала - какую часть ширины экрана будет занимать*/
    height: 45px;
}

/*Контейнер для текста ссылки App Store*/
.link_app {
	font-size: 0.5rem;
	margin-left: 10px;
}

/*Части текста ссылки,т к разный шрифт - разделила на 2 части */
.link_text_one {
	font-weight: 400;
}

.link_text_two {
	font-weight: 700;
	}

/*Иконка App Store*/
.apple_svg {
	width: 25px;
	height: 25px;
}

/*Стилизация ссылки Google Play как кнопка*/
.link_header_google { /*класс задала тегу а, чтобы вся кнопка была кликабельна*/
	border-radius: 30px;
    height: 45px;
	width: 85%; /*посчитала - какую часть ширины экрана будет занимать*/
}

/*Контейнер для текста ссылки Google Play*/
.link_google {
    font-size: 0.5rem;
	margin-left: 10px;
}
/*Контейнер для Иконки Google Play*/
.google_svg {
	width: 25px;
	height: 25px;
}

/*Контейнер секции Футбол */
.sport_football {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/*Заголовок секции Футбол - ATHLETS*/
.section_title_athlets {
	font-size: 3.125rem; /*50px шрифт - 50/16*/
    padding-left: 7.5%;
	padding-top: 30px;
	padding-bottom: 30px;
   }

/*Контейнер для картинки img Футболиста*/
.footballer {
	display: flex;
    z-index: 2;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -60px;
}	

/*Контейнер для цифры и заголовка статьи*/
.numeral_title {
	padding-left: 7.5%;
    text-align: left;
}

/*Цифра около заголовка CONNECTION, COLLABORATION*/
.numeral_athlets { 
	vertical-align: super;
    display: inline-block;
    margin-right: 5px;
	font-size: 0.875rem; /*14px шрифт 14/16*/
	margin-right: 10px;
	border-bottom: 7px solid #5e42b0;
    }

/*Цифра около заголовка GROWN - ATHLETE*/
.numeral_grown_athlete { 
	display: inline-block;
	vertical-align: super;
 	font-size: 0.875rem; /*14px шрифт 14/16*/
	border-bottom: 7px solid #ffffff;
	margin-right: 10px;
}

/*Цифра около заголовка GROWN*/
.numeral_grown { 
	display: inline-block;
	vertical-align: super;
 	font-size: 0.875rem; /*14px шрифт 14/16*/
	border-bottom: 7px solid #ffffff;
	margin-right: 10px;
}

/*Заголовок статьи CONNECTION, COLLABORATION, GROWTN*/
.article_title {
    display: inline-block;
 	font-size: 1.44rem; /*Шрифт 23рх - 23/16*/
    padding-top: 80px;
    margin-bottom: 35px;
 }

/*Статья раздела секции Athlets */
.article_athlets {
    width: 100%;
    padding-bottom: 60px;
}

/*добавила фон и цвет шрифта 1му элементу в секции*/
.article_athlets:nth-child(1) {
	background-color: #fafafa;
	color: #000;
}

/*добавила фон и цвет шрифта 2му элементу в секции*/
.article_athlets:nth-child(2) {
	background-color: #f5f4f9;
	color: #000;
}
/*добавила фон и цвет шрифта 3му элементу в секции*/
.article_athlets:nth-child(3) {
	background-color: #5e42b0;
	color: #fff;
}

/*Текст статьи*/
.article_text {
	font-size: 0.94rem; /*15px шрифт 15/16*/
	padding-left: 7.5%;
	padding-right: 7.5%;
}

/*Контейнер секции Баскетбол */
.sport_basketball {
	display: flex;
	flex-direction: column;
	width: 100%;
	}

 /*Заголовок секции Баскетбол - PLAYERS*/
.section_title_players {
	font-size: 3.125rem; /*50px шрифт - 50/16*/
    padding-left: 7.5%;
	padding-top: 30px;
	padding-bottom: 30px;
   }

.article_title_players {
	display: inline-block;
	font-size: 1.44rem; /*Шрифт 23рх - 23/16*/
    padding-top: 90px;
    margin-bottom: 35px;
}
 
/*Статья раздела секции Players */
.article_players {
    padding-bottom: 60px;
}

/*добавила фон и цвет шрифта 3му элементу в секции*/
.article_players:nth-child(3) {
	background-color: #fafafa;
	color: #000;
}
 
 /*добавила фон и цвет шрифта 4му элементу в секции*/
.article_players:nth-child(4) {
	background-color: #f5f4f9;
	color: #000;
}

/*добавила фон и цвет шрифта 5му элементу в секции*/
.article_players:nth-child(5) {
	background-color: #090c35;
	color: #fff;
}

/*Текст статьи*/
.article_text_players {
	font-size: 0.94rem; /*15px шрифт 15/16*/
    padding-right: 7.5%;
    padding-left: 7.5%;
}

 /*Контейнер для картинки Баскетболиста*/
 .basketballer {
	display: flex;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -25px;
 }

/*Контейнер для цифры и заголовка статьи*/
 .numeral_title_players {	
	 padding-left: 7.5%;
	 text-align: left;
 }

 /*Цифра около заголовка CONNECTION, COLLABORATION*/
 .numeral_players {
	display: inline-block;
	vertical-align: super;
 	font-size: 0.875rem;
	border-bottom: 7px solid #5e42b0;
	margin-right: 10px;
 }

/*Фото перед FIND CONTACT*/
.photo_find_contact {
	display: block;
	max-width: 100%;
}

/*Фото перед BE ACTIVE */
.photo_be_active {
	display: block;
	max-width: 100%;
}
/*Фото перед WORK IT*/
.photo_work_it {
	display: block;
	max-width: 100%;
}

/*Статья BE ACTIVE*/
.article_be_active {
   max-width: 100%;
   position: relative; /*чтобы прижать футболиста к этому разделу*/
   padding-bottom: 90px;
 }

/*Заголовок статьи BE ACTIVE, WORK IT*/
.article_title_active {
 	font-size: 1.44rem; /*Шрифт 23рх - 23/16*/
    padding-top: 40px;
    margin-bottom: 35px;
    padding-left: 7.5%;
 }

 /*Заголовок статьи FIND CONTACT*/
.article_title_contact {
	font-size: 1.44rem; /*Шрифт 23рх - 23/16*/
    padding-top: 40px;
    margin-bottom: 35px;
    padding-left: 7.5%;
}

/*Текст статьи*/
.article_text_active {
	font-size: 0.94rem; /*15px шрифт 15/16*/
	padding-left: 7.5%;
	padding-right: 7.5%;
}

/*Текст статьи*/
.article_text_contact {
	font-size: 0.94rem; /*15px шрифт 15/16*/
	padding-left: 7.5%;
	padding-right: 7.5%;
}

 /*Контейнер для Цифры около заголовков Be_active, Work it*/
.numeral_active {
	top: -50px; /*сместила квадрат вверх так - как по макету расположен*/
	left: 7.5%; /*сместила квадрат влево так - как по макету расположен*/
 	width: 70px;
 	height: 70px;
 }

 /*Контейнер для Цифры около заголовка Find contact*/
.numeral_contact {
	top: -50px; /*сместила квадрат вверх так - как по макету расположен*/
	left: 7.5%; /*сместила квадрат влево так - как по макету расположен*/
 	width: 70px;
 	height: 70px;
 }

 /*Цифра около заголовков Be_active, Find contact, Work it*/
 .numeral {
 	font-size: 0.875rem; /*14px шрифт 14/16*/
	border-bottom: 7px solid #fafafa;
 }
 
/*Статья FIND-CONTACT*/
.article_find_contact {
	position: relative;
	padding-bottom: 90px;
}

/*Статья WORK IT*/
 .article_work_it {
	position: relative;
	padding-bottom: 90px;
 }

/*Контейнер для футера */
	.footer {
	position: relative;
	width: 100%;
	background-image: url(../images/game_767.jpg);
	background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    background-size: cover;
}

/*Маска для футера*/
.footer::before {
	content: "";
	position: absolute;
    background-color: #091741;
    opacity: 0.9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*Логотип-стрелка для Футера*/
.surface_logo {
	display: block;
	position: relative;
	z-index: 3;
	height: 80px;
	width: 80px;
	background-color: #53399f;
	box-sizing: border-box;
	border-radius: 10%;
	padding: 20px 15px;
	fill: #ffffff;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
}

/*Заголовок футера - контейнер из 2х частей*/
.title_footer {	
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 2; 
	line-height: 30px;
	padding-right: 5%;
	padding-left: 5%;
    margin-top: 60px;
    margin-bottom: 80px;
}

/*1я часть заголовка Футера*/
.footer_title_one {
font-size: 1.75rem; /*50px шрифт 50/16*/
font-weight: 700;
}

/*2я часть заголовка Футера*/
.footer_title_two {
font-size: 0.875rem; /*14px шрифт 14/16*/
font-weight: 400;
}

/*Логотип - стрелка с текстом для Футера*/
.surface_logo_text_footer {
	height: 45px;
	width: 145px;
	padding-top: 90px;
	padding-bottom: 25px;
	
}

}
/*********************************************************************************/

/*Экраны от 641рх до 960рх*/

@media (min-width: 641px) and (max-width: 960px) {
.header {
	background-image: url(../images/football_1280.jpg);
	}

/*Контейнер для двух строчек заголовка*/
.title {
 padding-bottom: 300px; /* нижний внутренний отступ между заголовоком и ссылками*/
}

h1 {
	font-size: 4rem; /*шрифт 64px-  64/16 */
}

/*Две части заголовка шапки*/
.header_title_left {  /*h1*/
    padding-left: 10%; /*внутренний отступ слева 75px= 10% =75*100/768*/
}

.header_title_right { /*span*/
	display: block;
	padding-left: 13%; /*внутренний отступ слева 100px= 13% =100*100/768*/	
}

/*Логотип*/
 .surface_logo_text {
    height: 70px;
	width: 215px;
	margin-top: 65px;
	margin-bottom: 300px;
}

/*Ссылки - общий контейнер*/
.links {
	flex-direction: row;
	justify-content: center;
	margin-bottom: 90px;
	margin-left: auto;
	margin-right: auto;
} 

/*Стилизация ссылки App Store как кнопка*/
.link_header_app {
	border-radius: 40px;
	margin-right: 6.5%; /*внешний отступ между кнопками 50px=50*100/768*/
    height: 85px;
    width: 315px;
}

/*Контейнер для текста ссылки App Store*/
.link_app {
	font-size: 0.875rem;
	margin-left: 35px;
}

/*Части текста ссылки,т к разный шрифт - разделила на 2 части */
.link_text_one {
	font-weight: 200; /*Light*/
}

.link_text_two {
	font-weight: 700; /*Bold*/
	}

/*Иконка App Store*/
.apple_svg {
	width: 40px;
	height: 45px;
}

/*Стилизация ссылки Google Play как кнопка*/
.link_header_google {
	border-radius: 40px;
	height: 85px;
	width: 315px;
}

/*Контейнер для текста ссылки Google Play*/
.link_google {
	font-size: 0.875rem;
	margin-left: 35px;
}

/*Контейнер для Иконки Google Play*/
.google_svg {
	width: 50px;
	height: 52px;
}
.sport_football {
	z-index: 5;
	position: relative; /*чтобы футболист прижался к секции с заголовком */
	max-width: 100%;
}

/*Заголовок секции Футбол - ATHLETS*/
.section_title_athlets {
	font-size: 5rem; /*80px шрифт - 80/16*/
	padding-left: 39%; /*300px = 39%=300*100/768*/
	padding-top: 85px;
}

/*Контейнер для картинки img Футболиста*/
.footballer {
	position: absolute;
	left: -20%;
	top: 130px;
}

/*Заголовок статьи CONNECTION, COLLABORATION, GROWTN*/
.article_title {
	display: inline-block;
	font-size: 2rem; /*Шрифт 32рх - 32/16*/
	padding-top: 40px;
	padding-bottom: 35px;
 }

/*Контейнер для цифры и заголовка статьи*/
.numeral_title {	
	display: flex;
	justify-content: flex-start;
	padding-left: 39%;
}

/*Цифра около заголовка CONNECTION, COLLABORATION*/
.numeral_athlets { 
	display: inline-block;
	vertical-align: super;
	margin-right: 25px;
	font-size: 1.125rem; /*18px шрифт 18/16*/
	border-bottom: 8px solid #5e42b0;
	 }
 
/*Текст статьи*/
.article_text {
	display: flex;
	font-size: 1rem; /*16px шрифт 16/16*/
	padding-right: 5.5%;
	padding-left: 39%;
 }

 /*Цифра около заголовка GROWN - ATHLETE*/
 .numeral_grown_athlete { 
	 display: inline-block;
	 vertical-align: super;
	 margin-right: 25px;
	 font-size: 1.125rem; /*18px шрифт 18/16*/
	 border-bottom: 8px solid #efefef;
 }
 
 /*Цифра около заголовка GROWN-PLAYERS*/
 .numeral_grown { 
	 display: inline-block;
	 vertical-align: super;
	 margin-right: 25px;
	font-size: 1.125rem; /*18px шрифт 18/16*/
	 border-bottom: 8px solid #efefef;
 }
 
 /*Статья раздела секции Athlets */
 .article_athlets {
	width: 100%;
	padding-bottom: 25px;
 }

/*добавила фон и цвет шрифта 2му элементу в секции*/
.article_athlets:nth-child(2) {
	background-color: #f5f4f9;
	color: #000;
}
/*добавила фон и цвет шрифта 3му элементу в секции*/
.article_athlets:nth-child(3) {
	background-color: #5e42b0;
	color: #fff;
}

.sport_basketball {
   max-width: 100%;
   position: relative; /*чтобы баскетболист прижался к секции с заголовком */
}

/*Контейнер для картинки Баскетболиста*/
.basketballer {
	position: absolute;
	z-index: 5;
	top: 70px;
    right: 0;
 }

/*Заголовок секции Баскетбол - PLAYERS*/
.section_title_players {
	padding-right: 52%; /*Посчитала сколько заголовок для планшетной версии 400рх=52%=400*100/768рх*/
	font-size: 5rem; /*80px шрифт - 80/16*/
	padding-left: 5.2%;
	padding-top: 85px;
   }

   /*Заголовок статьи CONNECTION, COLLABORATION, GROWTN*/
   .article_title_players {
	   display: inline-block;
	   font-size: 2rem; /*Шрифт 32рх - 32/16*/
	   padding-top: 5.2%;
	   padding-bottom: 35px;
	}

 /*Контейнер для цифры и заголовка статьи*/
.numeral_title_players {	
	display: flex;
	justify-content: flex-start;
	padding-right: 52%;
	padding-left: 5.2%;
}

 /*Цифра около заголовка CONNECTION, COLLABORATION*/
 .numeral_players {
	display: inline-block;
	vertical-align: super;
	margin-right: 25px;
	font-size: 1.125rem;
    border-bottom: 8px solid #5e42b0;
}
 
/*Статья раздела секции Players */
.article_players {
	width: 100%;
	padding-bottom: 25px;
}

 /*Текст статьи*/
.article_text_players {
	font-size: 1rem; /*16px шрифт 16/16*/
	padding-right: 52%; /*52%=400px*100/768px посчитала сколько занимает блок с текстом для планшетных экранов*/
	padding-left: 5.2%;
}

 /*добавила фон и цвет шрифта 4му элементу в секции*/
.article_players:nth-child(4) {
	background-color: #f5f4f9;
	color: #000;
}
/*добавила фон и цвет шрифта 5му элементу в секции*/
.article_players:nth-child(5) {
	background-color: #090c35;
	color: #fff;
}

.article_be_active {
	position: relative;
	width: 100%;
}

/*Текст статьи*/
.article_text_active {
	font-size: 1rem; /*16px шрифт 16/16*/
	display: inline-block; 
	padding-left: 5.2%; /*чтобы все строки текста отодвинулись на 40 рх вправо*/
	padding-right: 5.2%;
	padding-bottom: 90px;
 }

 /*Текст статьи*/
.article_text_contact {
	font-size: 1rem; /*16px шрифт 16/16*/
	display: inline-block; 
	padding-left: 5.2%; /*чтобы все строки текста отодвинулись на 40 рх вправо*/
	padding-right: 5.2%; /*40px= 5.2%=40px*100/768px*/
	padding-bottom: 90px;
 }

/*Контейнер ПРЯМОУГОЛЬНИК ФИОЛЕТОВЫЙ для Цифры около заголовков Be_active, Work it*/
.numeral_active {
 	display: flex;
 	background-color: #5e42b0;
 	justify-content: center;
 	align-items: center;
	position: absolute;
	top: -50px; /*сместила прямоугольник вверх так - как по макету расположен*/
	left: 5.2%; /*сместила прямоугольник влево так - как по макету расположен*/
 	width: 120px;
 	height: 125px;
 }

 /*Контейнер ПРЯМОУГОЛЬНИК ФИОЛЕТОВЫЙ для Цифры около заголовкa Find contact*/
 .numeral_contact {
	  display: flex;
	  background-color: #5e42b0;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  top: -50px; /*сместила квадрат вверх так - как по макету расположен*/
	  left: 5.2%; /*сместила квадрат влево так - как по макету расположен*/
	  width: 120px;
	  height: 125px;
  }

/*Цифра около заголовков Be_active, Find contact, Work it*/
.numeral {
   font-size: 1.5rem; /*24px шрифт 24/16*/
   border-bottom: 8px solid #fafafa;
}

/*Заголовок статьи BE ACTIVE, WORK IT*/
.article_title_active {
	text-align: left;
 	font-size: 5rem; /*Шрифт 80рх - 80/16*/
    padding-top: 100px;
	margin-bottom: 50px;
	padding-left: 5.2%;  /*чтобы Заголовки сместились на 40 рх вправо*/
 }

/*Заголовок статьи FIND CONTACT*/
.article_title_contact {
	text-align: left;
 	font-size: 5rem; /*Шрифт 80рх - 80/16*/
    padding-top: 100px;
	margin-bottom: 50px;
	padding-left: 5.2%;  /*чтобы Заголовки сместились на 40 рх вправо*/
 }

 /*Цифра около заголовков Be_active, Find contact, Work it*/
 .numeral {
 	font-size: 1.5rem; /*24px шрифт 24/16*/
	border-bottom: 8px solid #fafafa;
 }

/*Фото перед BE ACTIVE*/
.photo_be_active {
	display: block;
	max-width: 100%;
}

/*Фото перед FIND CONTACT*/
.photo_contact {
	display: block;
	max-width: 100%;
 }

/*Статья FIND-CONTACT*/
.article_find_contact {
	position: relative;
}

/*Фото перед WORK IT*/
.photo_work_it {
   display: block;
   max-width: 100%;
}

/*Статья WORK IT*/
 .article_work_it {
	position: relative;
 }

.footer {
	background-image: url(../images/game_1280.jpg);
}

/*Логотип-стрелка для Футера*/
.surface_logo {
	height: 140px;
	width: 140px;
	padding: 35px 25px;
	border-radius: 28px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto; 
}

/*Заголовок футера - контейнер из 2х частей*/
.title_footer {	
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 2; 
	padding-left: 5.2%;
	padding-right: 5.2%;
    margin-top: 60px;
    margin-bottom: 280px;
}

/*1я часть заголовка Футера*/
.footer_title_one {
font-size: 5rem; /*80px шрифт 80/16*/
font-weight: 700;
}

/*2я часть заголовка Футера*/
.footer_title_two {
font-size: 2.25rem; /*36px шрифт 36/16*/
font-weight: 400;
}

/*Логотип - стрелка с текстом для Футера*/
.surface_logo_text_footer {
	height: 60px;
	width: 200px;
	padding-top: 70px;
	padding-bottom: 35px;
}

}

/************************************************************************************************/

/*Экраны от 961рх */ 

@media (min-width: 961px) {

.header {
	background-image: url(../images/football_1920.jpg);
	}

/*Контейнер для двух строчек заголовка*/
.title {
	display: block;
	padding-bottom: 247px; /* нижний внутренний отступ между заголовком и ссылками*/
   }
   
   h1 {
	   font-size: 5.625rem; /*шрифт 90px -  90/16 */
   }
   
   /*Две части заголовка шапки*/
   .header_title_left {  /*h1*/
	text-align: left;
	padding-left: 10%; /*внутренний отступ слева*/
   } 

   .header_title_right { /*span*/
	display: block;
	padding-right: 10%; /*внутренний отступ справа*/
	text-align: right;
   }
   
   /*Логотип*/
	.surface_logo_text {
	   height: 62px;
	   width: 200px;
	   margin-top: 55px;
	   margin-bottom: 300px;
   }
   
   /*Ссылки - общий контейнер*/
   .links {
	   flex-direction: row;
	   justify-content: center;
	   margin-bottom: 120px;
	   margin-left: auto;
	   margin-right: auto;
   } 
   
   /*Стилизация ссылки App Store как кнопка*/
   .link_header_app {
	   border-radius: 40px;
	   margin-right: 3%; /*внешний отступ между кнопками*/
	   height: 90px;
	   width: 316px;
   }
   
   /*Контейнер для текста ссылки App Store*/
   .link_app {
	   font-size: 0.875rem; /*14px шрифт 14/16*/
	   margin-left: 33px;
   }
   
   /*Части текста ссылки,т к разный шрифт - разделила на 2 части */
   .link_text_one {
	   font-weight: 400; /*Regular*/
   }
   
   .link_text_two {
	   font-weight: 700; /*Bold*/
	   }
   
   /*Иконка App Store*/
   .apple_svg {
	   width: 50px;
	   height: 55px;
   }
   
   /*Стилизация ссылки Google Play как кнопка*/
   .link_header_google {
	   border-radius: 40px;
	   height: 90px;
	   width: 316px;
   }
   
   /*Контейнер для текста ссылки Google Play*/
   .link_google {
	   font-size: 0.875rem; /*14px шрифт 14/16*/
	   margin-left: 33px;
   }
   
   /*Контейнер для Иконки Google Play*/
   .google_svg {
	   width: 50px;
	   height: 55px;
   }

   .sport_football {
	width: 100%;
	position: relative; /*чтобы футболист прижался к секции с заголовком */
   }

   /*Заголовок секции Футбол - ATHLETS*/
   .section_title_athlets {
	   width: 38.5%;
	   font-size: 5rem; /*80px шрифт - 80/16*/
	   padding-right: 10%;
	   padding-left: 51.5%;
	   padding-top: 100px;
	   padding-bottom: 20px;
  }
   
   /*Контейнер для картинки img Футболиста*/
   .footballer {
	   position: absolute;
	   right: 50%;
	   top: 70px;
	   
   }

/*Заголовок статьи CONNECTION, COLLABORATION, GROWTN*/
.article_title {
	display: inline-block;
	font-size: 2rem; /*Шрифт 32рх - 32/16*/
	padding-top: 40px;
	padding-bottom: 40px;
 }

/*Текст статьи*/
.article_text {
	flex-shrink: 0;
     font-size: 1.25rem; /*20px шрифт 20/16*/
	 width: 38.5%;
     padding-right: 10%; 
     padding-left: 51.5%; /*Посчитала 100%-(38.5%+10%)*/
}
/*Статья в разделе секции ATHLETS*/
.article_athlets {
	padding-bottom: 55px;
}

   /*Контейнер для цифры и заголовка статьи*/
   .numeral_title {	
	   padding-left: 51.5%; /*Посчитала 100%-(38.5%+10%)*/
	   text-align: left;
   }
   
   /*Цифра около заголовка CONNECTION, COLLABORATION*/
   .numeral_athlets { 
	   display: inline-block;
	   vertical-align: super;
	   margin-right: 18px;
	   font-size: 1.125rem; /*18px шрифт 18/16*/
	   border-bottom: 9px solid #5e42b0;
   }

   /*Цифра около заголовка GROWN - ATHLETE*/
.numeral_grown_athlete { 
	display: inline-block;
	vertical-align: super;
	margin-right: 18px;
	font-size: 1.125rem; /*18px шрифт 18/16*/
	border-bottom: 9px solid #efefef;
}

/*добавила фон и цвет шрифта 2му элементу в секции*/
.article_athlets:nth-child(2) {
	background-color: #f5f4f9;
	color: #000;
}
/*добавила фон и цвет шрифта 3му элементу в секции*/
.article_athlets:nth-child(3) {
	background-color: #5e42b0;
	color: #fff;
}

.sport_basketball {
	overflow: hidden;
	position: relative; /*чтобы баскетболист прижался к секции с заголовком */
 }

/*Контейнер для картинки Баскетболиста*/
.basketballer {
	position: absolute;
	z-index: 5;
	top: 35px;
	left: 42%;
 }
 
/*Заголовок секции Баскетбол - PLAYERS*/
.section_title_players {
	width: 40%;
	font-size: 5rem; /*80px шрифт - 80/16*/
	padding-left: 10%;
	padding-top: 100px;
	padding-bottom: 20px;
   }

/*Статья раздела секции Players */
.article_players {
	padding-bottom: 55px;
   }

/*Контейнер для цифры и заголовка статьи*/
.numeral_title_players {	
	padding-left: 10%;
	text-align: left;
}

	/*Цифра около заголовка CONNECTION, COLLABORATION*/
	.numeral_players {
		display: inline-block;
		vertical-align: super;
		margin-right: 18px;
		font-size: 1.125rem; /*18px*/
	    border-bottom: 9px solid #5e42b0;
	}

    /*Цифра около заголовка GROWN*/
	.numeral_grown { 
		display: inline-block;
		vertical-align: super;
		margin-right: 18px;
	    font-size: 1.125rem; /*18px шрифт 18/16*/
		border-bottom: 9px solid #ffffff;
	}
	
	/*Текст статьи*/
   .article_text_players {
	   font-size: 1.25rem; /*20px шрифт 20/16*/
	   width: 40%;
	   padding-left: 10%;
	   flex-shrink: 0;
   }

 /*добавила фон и цвет шрифта 4му элементу в секции*/
.article_players:nth-child(4) {
	background-color: #f5f4f9;
	color: #000;
}

/*добавила фон и цвет шрифта 5му элементу в секции*/
.article_players:nth-child(5) {
	background-color: #090c35;
	color: #fff;
}

   /*Заголовок статьи CONNECTION, COLLABORATION, GROWTN*/
   .article_title_players {
	   display: inline-block;
	   font-size: 2rem; /*Шрифт 32рх - 32/16*/
	   padding-top: 40px;
	   padding-bottom: 40px;
	}

/*Сделала контейнер для BE ACTIVE, WORK IT , чтобы расположить фото и статью горизонтально*/
.photo_and_article {
    display: flex;
	flex-direction: row;
	width: 100%;
	flex-shrink: 0;
}

/*Статья BE_ACTIVE*/
.article_be_active {
	position: relative;
	width: 50%;
	flex-shrink: 0;
}

.photo {
	width: 50%;
}

/*Картинка фото  в разделе  BE ACTIVE*/
.photo_be_active {
	width: 100%; /*для того, чтобы картинка заняла нужный размер родительского блока*/
	display: block;
	height: 100%;
    object-fit: cover;
}

/*Заголовок статьи BE ACTIVE, WORK IT*/
.article_title_active {
	font-size: 5rem; /*Шрифт 80рх - 80/16*/
	padding-top: 250px;
	padding-bottom: 100px;
	padding-left: 21%;  /*чтобы Заголовки сместились на 140 рх вправо*/
	
 }

  /*Контейнер ПРЯМОУГОЛЬНИК ФИОЛЕТОВЫЙ для Цифры около заголовков Be_active, Work it*/
  .numeral_active {
	display: flex;
	background-color: #5e42b0;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 220px; /*сместила прямоугольник вверх так - как по макету расположен*/
	left: -89px; /*сместила прямоугольник влево так (50% его ширины - 178/2=89px) - как по макету расположен*/
	width: 168px;
	height: 178px;
 }

/*Текст статьи*/
.article_text_active {
	flex-shrink: 0;
	font-size: 1.5rem; /*24px шрифт 24/16*/
	padding-left: 21%; /*чтобы все строки текста отодвинулись на 140 рх влево*/
	padding-right: 10%;
	padding-bottom: 90px;
 }

 .photo_contact {
	 width: 50%;
 }

 /*КАртинка фото в разделе FIND CONTACT*/
 .photo_find_contact {
	width: 100%;
	display: block;
	height: 100%; /*Чтобы картинка заняла всю площадь по высоте*/
    object-fit: cover;
 }

 /*Цифра около заголовков Be_active, Find contact, Work it*/
 .numeral {
	font-size: 1.5rem; /*24px шрифт 24/16*/
	border-bottom: 9px solid #fafafa;
 }

	/*Текст статьи*/
	.article_text_contact {
		font-size: 1.5rem; /*24px шрифт 24/16*/
		padding-right: 21%; /*чтобы все строки текста отодвинулись на 140 рх вправо*/
		padding-left: 20%;
		padding-bottom: 90px;
		flex-shrink: 0;
	 }
   
/*Контейнер ПРЯМОУГОЛЬНИК ФИОЛЕТОВЫЙ для Цифры около заголовкa Find contact*/
.numeral_contact {
	display: flex;
	background-color: #5e42b0;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 220px; /*сместила прямоугольник вверх так - как по макету расположен*/
	right: -89px; /*сместила прямоугольник вправо так (50% его ширины - 178/2=89px) - как по макету расположен*/
	width: 168px;
	height: 178px;
 }

/*Заголовок статьи FIND CONTACT*/
.article_title_contact {
	font-size: 5rem; /*Шрифт 80рх - 80/16*/
	padding-top: 250px;
	padding-bottom: 100px;
	padding-left: 20%;  /*чтобы Заголовки сместились на 200 рх вправо*/
	padding-right: 5%;
 }

/*Сделала контейнер для FIND CONTACT, чтобы расположить фото и статью горизонтально и в обратном направлении*/
   .photo_and_article_contact {
    display: flex;
	flex-direction: row-reverse;
	width: 100%;
	flex-shrink: 0;
}

 /*Статья FIND-CONTACT*/
 .article_find_contact {
	position: relative;
	flex-shrink: 0;
	width: 50%;
}

/*Статья WORK IT*/
.article_work_it {
	position: relative;
	flex-shrink: 0;
    width: 50%;
 }

.photo_work {
	width: 50%;
}

/*КАртинка фото в разделе WORK IT*/
.photo_work_it {
	width: 100%;  /*для того, чтобы картинка заняла нужный размер блока*/
	display: block;
	height: 100%;
    object-fit: cover;
}
   /*Логотип-стрелка для Футера*/
   .surface_logo {
	   height: 150px;
	   width: 150px;
	   padding: 35px 30px;
	   border-radius: 34px;
	   margin-right: 40px;
	   
   }
   
   /*1я часть заголовка Футера*/
   .footer_title_one {
   font-size: 5rem; /*80px шрифт 80/16*/
   font-weight: 700;
   }
   
   /*2я часть заголовка Футера*/
   .footer_title_two {
   font-size: 2.25rem; /*36px шрифт 36/16*/
   font-weight: 400;
   padding-bottom: 20px;
   }
   
   /*Сделала контейнер для логотипа и заголовка, чтобы расположить по центру футера*/
   .logo_and_title {
	   display: flex;
	   align-items: center;
	   justify-content: center;
	   position: relative;
	   z-index: 2;   
	   padding-top: 160px;
	   padding-bottom: 280px;
   }

   /*Логотип - стрелка с текстом для Футера*/
   .surface_logo_text_footer {
	   height: 70px;
	   width: 215px;
	   padding-top: 260px;
	   padding-bottom: 60px;
   }

.footer {
	background-image: url(../images/game_1920.jpg);
}

}

/****************************************************************************/

@media (min-width: 1921px) {

h1 {
	font-size: 6.5rem; /*шрифт 104px -  104/16 */
}

/*Две части заголовка шапки*/
.header_title_left {  /*h1*/
 padding-left: 15%; /*внутренний отступ слева*/
} 

.header_title_right { /*span*/
 padding-right: 15%; /*внутренний отступ справа*/
}

/*Логотип*/
 .surface_logo_text {
	height: 90px;
	width: 270px;
	margin-top: 80px;
	margin-bottom: 350px;
}

/*Стилизация ссылки App Store как кнопка*/
.link_header_app {
	border-radius: 48px;
	margin-right: 3%; /*внешний отступ между кнопками*/
	height: 110px;
	width: 450px;
}

/*Контейнер для текста ссылки App Store*/
.link_app {
	font-size: 1rem; /*16px шрифт 16/16*/
	margin-left: 40px;
}

/*Иконка App Store*/
.apple_svg {
	width: 60px;
	height: 65px;
}

/*Стилизация ссылки Google Play как кнопка*/
.link_header_google {
	border-radius: 48px;
	height: 110px;
	width: 450px;
}

/*Контейнер для текста ссылки Google Play*/
.link_google {
	font-size: 1rem; /*16px шрифт 16/16*/
	margin-left: 40px;
}

/*Контейнер для Иконки Google Play*/
.google_svg {
	width: 55px;
	height: 60px;
}

 /*Заголовок секции Футбол - ATHLETS*/
 .section_title_athlets {
	font-size: 5.625rem; /*90px шрифт - 90/16*/
	padding-top: 130px;
	padding-bottom: 30px;
}

/*Контейнер для картинки img Футболиста*/
.footballer {
	right: 60%;
	top: 150px;
}

/*Заголовок статьи CONNECTION, COLLABORATION, GROWTN*/
.article_title {
	font-size: 2.5rem; /*Шрифт 40рх - 40/16*/
	padding-top: 50px;
	padding-bottom: 50px;
 }

/*Текст статьи*/
.article_text {
     font-size: 1.5rem; /*24px шрифт 24/16*/
	 
}

/*Цифра около заголовка CONNECTION, COLLABORATION*/
.numeral_athlets { 
	margin-right: 19px;
	font-size: 1.25rem; /*20px шрифт 20/16*/

}

/*Цифра около заголовка GROWN - ATHLETE*/
.numeral_grown_athlete { 
    margin-right: 19px;
    font-size: 1.25rem; /*20px шрифт 20/16*/
}

/*Контейнер для картинки Баскетболиста*/
.basketballer {
	top: 80px;
	left: 50%;
 }

/*Заголовок секции Баскетбол - PLAYERS*/
.section_title_players {
	font-size: 5.625rem; /*90px шрифт - 90/16*/
	padding-top: 130px;
	padding-bottom: 30px;
   }

/*Заголовок статьи CONNECTION, COLLABORATION, GROWTN*/
.article_title_players {
	font-size: 2.5rem; /*Шрифт 40рх - 40/16*/
	padding-top: 50px;
	padding-bottom: 50px;
 }

	/*Цифра около заголовка CONNECTION, COLLABORATION*/
	.numeral_players {
		margin-right: 19px;
		font-size: 1.25rem; /*20px*/
	}

    /*Цифра около заголовка GROWN*/
	.numeral_grown { 
		margin-right: 19px;
	    font-size: 1.25rem; /*20px шрифт 20/16*/
	}
	
	/*Текст статьи*/
   .article_text_players {
	   font-size: 1.5rem; /*24px шрифт 24/16*/
   }

/*Заголовок статьи BE ACTIVE, WORK IT*/
.article_title_active {
	font-size: 5.625rem; /*Шрифт 90рх - 90/16*/
	padding-top: 250px;
	padding-bottom: 100px;
 }

  /*Контейнер ПРЯМОУГОЛЬНИК ФИОЛЕТОВЫЙ для Цифры около заголовков Be_active, Work it*/
  .numeral_active {
	top: 225px; /*сместила прямоугольник вверх так - как по макету расположен*/
	left: -90px; /*сместила прямоугольник влево так (50% его ширины - 180/2=90px) - как по макету расположен*/
	width: 176px;
	height: 180px;
 }

/*Текст статьи*/
.article_text_active {
	font-size: 1.5rem; /*24px шрифт 24/16*/
	padding-bottom: 90px;
 }

/*Текст статьи*/
.article_text_contact {
	font-size: 1.5rem; /*24px шрифт 24/16*/
	padding-right: 21%; /*чтобы все строки текста отодвинулись на 140 рх вправо*/
	padding-left: 10%;
	padding-bottom: 90px;
	flex-shrink: 0;
 }

/*Контейнер ПРЯМОУГОЛЬНИК ФИОЛЕТОВЫЙ для Цифры около заголовкa Find contact*/
.numeral_contact {
    top: 225px; /*сместила прямоугольник вверх так - как по макету расположен*/
    right: -90px; /*сместила прямоугольник вправо так (50% его ширины - 180/2=90px) - как по макету расположен*/
    width: 176px;
    height: 180px;
}

/*Заголовок статьи FIND CONTACT*/
.article_title_contact {
    font-size: 5.625rem; /*Шрифт 90рх - 90/16*/
    padding-top: 250px;
    padding-bottom: 100px;
}

/*Логотип-стрелка для Футера*/
.surface_logo {
	height: 180px;
	width: 180px;
	padding: 40px 35px;
	border-radius: 40px;
	margin-right: 55px;	
}

/*1я часть заголовка Футера*/
.footer_title_one {
   font-size: 6.5rem; /*104px шрифт 104/16*/
   
}

/*2я часть заголовка Футера*/
.footer_title_two {
   font-size: 3rem; /*48px шрифт 48/16*/
}

/*Сделала контейнер для логотипа и заголовка, чтобы расположить по центру футера*/
.logo_and_title {
	padding-top: 190px;
	padding-bottom: 320px;
}

/*Логотип - стрелка с текстом для Футера*/
.surface_logo_text_footer {
	height: 90px;
	width: 270px;
	padding-top: 290px;
	padding-bottom: 100px;
}

}